<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Vehicle Agreement</h3>
            <a href="create" class='btn-info btn btn-sm btn-block'>Create a new agreement</a>
            <a href="list" class='btn-info btn btn-sm btn-block'>See your agreements</a>
        </div>
    </div>
</div>