<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>New Hire Agreement</h3>
            <a href="personal-services/hr/new-hire-agreement/create">Create a new hire agreement</a>
            <a href="personal-services/hr/new-hire-agreement/list">See your created agreement</a>
        </div>
    </div>
</div>