<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Employment Agreement</h3>
            <a href="employment-agreement/create" class='btn-info btn btn-sm btn-block'>Create a new hire agreement</a>
            <a href="employment-agreement/list" class='btn-info btn btn-sm btn-block'>See your created agreement</a>
        </div>
    </div>
</div>