<h4>CONTRATO DE TRABAJO INDEFINIDO</h4>
<p>En{{user.address.city}},{{agreementDetails.signDate}}</p>
<h4>REUNIDOS</h4>
<h5>Datos personales y de la empresa del contrato:</h5>
<h5>De una parte,</h5>
<h5>- Datos de la Empresa</h5>

{{!-- CIF/NIF/NIE: (nº ---------)D./DÑA.:(nombre y apellidos)NIF./NIE: (nº ---------) En concepto de: (Director/a,
Gerente,
Propietario/a)NOMBRE O RAZÓN SOCIAL de la empresa :(nombre completo)Domicilio Social: (dirección completa)País:
(---------) Municipio: (---------) C. Postal: (---------)


- Datos de la cuenta de cotizaciónRégimen : _ _ _ _ Cod. : _ _
Prov.:_ _ Número : _ _ _ _ _ _ _ _ _Dig.:_ _ Contr.: _ _ Actividad económica:_ _


- Datos del centro de trabajo
País:(---------) Municipio: (---------)

En adelante, la "EMPLEADORA".





De otra parte,
- Datos del/de la trabajador/a D./DÑa.

D./DÑA.:(nombre y apellidos)NIF./NIE: (nº ---------) Fecha de nacimiento: (--/--/----)Número de afiliación
S.S.:(-------------------------)Nivel formativo: (---------)Nacionalidad: (---------) País domicilio: (---------)
Municipio del domicilio: (---------)

En adelante, el "TRABAJADOR".

La EMPLEADORA y el TRABAJADOR que, en adelante, podrán
ser denominados, individualmente, "la Parte" y conjuntamente, "las Partes", reconociéndose mutuamentecapacidad legal
suficiente para contratar y obligarse en la representación que actúan ysiendo responsables de la veracidad de sus
manifestaciones,



EXPONEN

I. Que reúnen los requisitos exigidos por la LEY para la celebración del siguiente contrato.
II. Que habiendo llegado las Partes, libre y espontáneamente, a una coincidencia mutua de sus voluntades, formalizan el
presente CONTRATO
DE TRABAJO INDEFINIDO, en adelante el "Contrato" o el "Contrato de trabajo", que tiene por objeto el establecimiento de
una relación laboral entre las Partes, así como de sus términos ycondiciones, y que se regirá por las siguientes,
III. La duración del presente contrato será INDEFINIDA.


ESTIPULACIONES


PRIMERA.- Objeto. Puesto de trabajo a realizar
El TRABAJADOR prestará sus servicios como:(---------) , incluido en el grupo profesionales: (Señalar el grupo
profesional o nivel
profesional que corresponda, según el sistema de clasificación profesional vigente en la empresa). De acuerdo con el
sistema de clasificación profesional vigente en la empresa.

Este contrato se regirá por el Estatuto de los Trabajadores,
aprobado por el Real Decreto Legislativo 2/2015, de 23 de octubre, y por el siguiente convenio colectivo: (---------)
.SEGUNDA.- Lugar de desarrollo del trabajoEl TRABAJADOR prestará sus servicios en el centro de trabajo ubicado en:
(dirección completa).Según la LEY, La EMPLEADORA tiene el derecho de modificar el lugar del trabajo delTRABAJADOR,
siempre que esta circunstancia se haga respetando los preavisos y lasformas legalmente establecidos.Se puede dar un
cambio de lugar de trabajo incluso si este exige un cambio de residencia, siempre que se encuentre justificado por
razones económicas, técnicas, organizativas o de producción. En este caso, el TRABAJADOR contará con los derechos
reconocidos por el artículo 40 del Estatuto de los Trabajadores.TERCERA.- Jornada de trabajo a realizar por el
TRABAJADORLa jornada de TRABAJADOR puede ser:⧠ A tiempo completoLa jornada de trabajo será de (---------) horas
semanales, prestadas en el horario de: (---------) , con los descansos establecidos legal o convencionalmente.⧠ A tiempo
parcialLa jornada de trabajo ordinaria será de (---------), (--) horas al día, (--) a la semana, (--)al mes, (--) al
año, siendo esta jornada inferior a la de un trabajador a tiempo completo comparable.
CUARTA.- Duración del ContratoLa duración del presente Contrato será indefinida, iniciándose la relación laboral en
fecha: (--/--/----) . Y se establece un periodo de prueba de:(--) días. (Respetando lo establecido en el art.14.1 del
Texto Refundido de la Ley del Estatuto de los Trabajadores, aprobado por Real Decreto Legislativo 2/2015 de 23 de
octubre (BOE de 24de octubre).Durante este período de prueba ambas partes pueden instar por propia iniciativa la
resolución de este Contrato sin necesidad de alegar motivo o causa alguna, y sin que se deba una indemnización por
ello.Para poder poner fin al periodo de prueba antes de lo previsto la parte interesada deberá notificárselo a la otra
con, como mínimo, un preaviso de siete días naturales a la fecha en la que el desistimiento será efectivo. Esto no anula
la liquidación al TRABAJADOR de los días efectivamente trabajados así como de la parte proporcionalcorrespondiente a
vacaciones por el período trabajado y al concepto de paga extra salarial.El periodo de prueba computa en la antigüedad
del TRABAJADOR en la empresa si sigue luego la relación laboral.En caso, de una vez finalizado el periodo de prueba, el
TRABAJADOR podrá realizar un preaviso de cese voluntario en su puesto de trabajo (---------) días mediante notificación
fehaciente y con documento acreditativo. Si no se cumple este periodo de preaviso acordado, el TRABAJADOR estará
obligado a compensar a la EMPLEADORA con una cuantía equivalente a los salarios correspondientes a la duración del
período incumplido.QUINTA.- Retribución del TRABAJADOREl TRABAJADOR percibirá una retribución total de (--------- €)
brutos (Diarios, semanales, mensuales o anuales. “lo normal es poner anuales, pero puede acordarse otras formas”) , que
se distribuirán en los siguientes conceptos salariales:Salario base: (--------- €), complementos salariales: (---------
€), pluses: (--------- €).Se le entregará al TRABAJADOR un documento que justifique el pago de su salario por parte de
la EMPLEADORA cada vez que se realice. El pago se procederá por el medio habitual de la empresa y que siempre quede
justificado con un recibo bancario a la cuenta que haya aportado el TRABAJADOR.El pago del salario se realizará
mensualmente por meses vencidos, el siguiente día: (-----).SEXTA.- Vacaciones anualesLa duración de las vacaciones
anuales será de: (--------- ). Estas son retribuidas y tienen que durar un mínimo de 30 días naturales.El periodo de
vacaciones se debe dar a conocer como mínimo con dos meses de antelación, y estas deben desarrollarse dentro del año al
que correspondan.Las vacaciones no se pueden acumular de un año para otro, salvo que la fecha prevista de disfrute
coincida en el tiempo con una incapacidad temporal.
SÉPTIMA.- Revisiones médicas Periódicas o PuntualesLa EMPLEADORA podrá solicitar que el TRABAJADOR se someta en
cualquier momento a cuantas revisiones médicas estime oportunas, así como proceder a la comprobación de las situaciones
de baja que lo afecten, ya sea a través de los servicios médicos de la empresa, Mutua patronal o servicio concertado,
estando autorizada para recibir información del resultado de las mismas, no en cuanto al diagnóstico sino en cuanto a si
es apto o no para el trabajo o a si la situación de incapacidad temporal en la que se encuentra es procedente o no.En
relación con el artículo 22 de la Ley 31/1995, de 8 de noviembre, de Prevención de Riesgos Laborales, el TRABAJADOR
presta su consentimiento para que se vigile su estado de salud en función de los riesgos inherentes al trabajo.OCTAVA.-
Protección de datosLos datos consignados en el presente modelo tendrán la protección derivada del Reglamento (UE)
2016/679 del Parlamento Europeo, de 27 de abril de 2016 y de la Ley Orgánica 3/2018, de 5 de diciembre (BOE de 6
diciembre).Ambas partes son conscientes de que mediante la firma de este Contrato, y su comunicación al Servicio Público
de Empleo Estatal, consienten que sus datos personales recogidos en el presente Contrato, así como aquellos que se
pudiesen recoger en el futuro para poder dar cumplimiento o una correcta ejecución de este mismo, podrían ser
incorporados por la otra Parte, o por el Servicio Público de Empleo, a su propio fichero automatizado o no de recogida
de datos con el fin de ejecutar correctamente la relación contractual y, eventualmente, para una gestión administrativa
y/o comercial.El TRABAJADOR podrá solicitar de los Servicios Públicos de Empleo información del contenido de los
contratos y los datos en los que sean parte.Ambas Partes se comprometen a que estos datos personales no serán
comunicados más allá del supuesto contemplado en la cláusula anterior.De esta cláusula no resulta ninguna limitación o
restricción para las Partes en cuanto al ejercicio de los derechos de acceso, rectificación, supresión, limitación del
tratamiento, portabilidad u oposición con los que pudieran contar.El TRABAJADOR se compromete a informar por escrito al
EMPLEADOR cualquiercambio de dirección teniéndose como suya, para todos los efectos, la última dirección registrada en
la empresa.NOVENA.- Comunicación del ContratoEl contenido del presente Contrato se comunicará al Servicio Público de
Empleo Estatal en el plazo de los 10 días siguientes a la fecha de su concertación, que figura en el encabezamiento.
DÉCIMA.- Obligaciones del TRABAJADOR y EMPLEADOR.En lo que respecta a las obligaciones, derechos y prohibiciones no
recogidas en este contrato, se regirán por el Estatuto de los Trabajadores, aprobado por el Real Decreto Legislativo
2/2015, de 23 de octubre, y por el siguiente convenio colectivo: (---------) .Ambas partes pueden acordar cláusulas
adicionales en el presente contrato y elaborarse en una hoja anexa a este documento, la cual hará parte del mismo y
dondedeberán consignarse los nombres y firmas de las partes contratantes, su documento de identidad y fecha en que se
efectúe Modificación.Estás cláusulas no podrán ir contra la LEY ni ser menos beneficiosas para el TRABAJADOR de lo que
ya dispone la LEY.UNDÉCIMA.- Acciones legales. Legislación aplicable. JurisdicciónLas Partes reconocen quedar obligadas
por el presente Contrato, ratifican todas y cada una de las cláusulas de este contrato, así como sus correspondientes
anexos, si los hubiere, y sus efectos jurídicos y se comprometen a su cumplimiento de buena fe.Todo litigio relativo,
especialmente, pero no solo, a la formación, validez, interpretación, firma, existencia, ejecución o terminación de este
Contrato y, en general, a la relación establecida entre las Partes, será sometido a la legislación española vigente que
resulte de aplicación. Particularmente, se regirá por el Estatuto de los Trabajadores, aprobado por el Real Decreto
Legislativo 2/2015, de 23 de octubre, y por el siguiente convenio colectivo: (---------) .En caso de controversia,
diferencia, conflicto o reclamación en cuanto al Contrato, o en relación al mismo, las Partes acuerdan que se someterán
a la jurisdicción social de los Juzgados y Tribunales competentes conforme a derecho.Y en prueba de conformidad y
aceptación de todo lo establecido, ambas Partes firman todas las hojas de este Contrato en tres ejemplares y a un solo
efecto, en el lugar y fecha señalados en el encabezamiento....................................................
.................................................LA EMPLEADORA EL TRABAJADOR --}}