<div class="container">
    <h1>Employment Agreements' list</h1>
    <hr>
    {{#each newHires}}
    <p>- Document Ref.({{id}})</p>

    <a href="/company/hr/employment-agreement/preview/{{id}}">
        Preview
    </a>
    <a href="/company/hr/employment-agreement/delete?newHire_id={{id}}" class="btn btn-info">
        Delete
    </a>
    <a href="/company/hr/employment-agreement/edit?newHire_id={{id}}" class="btn btn-info">
        Edit
    </a>
    {{/each}}
</div>