<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>{{title}}</h1>
            <p>Simple business</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Check Out our Services</h1>
            <p>In JP & Co. we use tech to perform business task easy, quick and simple.
                Learn more about our services that will grow your business.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h2>
                <strong>Personal Services</strong>
            </h2>
            <a href="/personal-services">Services</a>
        </div>

        <div class="col-4">
            <h2>
                <strong>Company Services</strong>
            </h2>
            <a href="/company-services">Services</a>
        </div>
    </div>
</div>