<div class="container">
    <div class="row justify-content-around">
        <div class="col-8">
            <h3>Invoices</h3>
            <a href="invoice/create" class='btn-info btn btn-sm btn-block'>Create a new invoice</a>
            <a href="invoice/list" class='btn-info btn btn-sm btn-block'>See your invoices</a>
        </div>
    </div>
</div>