<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Invoices</h3>
            <a href="personal-services/business/payroll/create">Create a new invoice</a>
            <a href="personal-services/business/payroll/list">See your invoices</a>
        </div>
    </div>
</div>