<h1>Invoice list</h1>
{{#each invoices}}
<div>{{client.name}}</div>
<a href="/company-services/business/invoice/preview/{{id}}">detalles</a>
<a href="/company-services/business/invoice/delete?invoice_id={{id}}" class="btn btn-dark">Eliminar</a>
<a href="/company-services/business/invoice/edit?invoice_id={{id}}" class="btn btn-dark">Editar</a>
{{/each}}