<div class="invoices">

    <h1>Invoices' list</h1>
    <hr>

    {{#each invoices}}
    <p>- Document Ref.({{id}})</p>

    <a href="/company/business/invoice/preview/{{id}}">Preview</a>
<a href="/company/business/invoice/delete?invoice_id={{id}}" class="btn btn-dark">Delete</a>
<a href="/company/business/invoice/edit?invoice_id={{id}}" class="btn btn-dark">Edit</a>
{{/each}}
</div>