<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">
            
            <h1 style="font-weight: 100">New Invoice</h1>


            <form action="/company/business/invoice/create" method="POST">
                <h4>Dates</h4>
                <div class="form-group">
                    <label for="invoiceDate">Invoice Date</label>
                    <input name="invoiceDate" type="date" class="form-control" id="invoiceDate">
                </div>
                <div class="form-group">
                    <label for="paymentDate">Payment Date</label>
                    <input name="paymentDate" type="date" class="form-control" id="paymentDate">
                </div>
                <div class="form-group">
                    <label for="accrualDate">Accrual Date</label>
                    <input name="accrualDate" type="date" class="form-control" id="accrualDate">
                </div>
                <h4>Product</h4>
                <div class="add-product">
                    <div class="row" id="add-product-row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="productName">Name</label>
                                <input name="productName" type="text" class="form-control" id="productName">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input name="price" type="number" class="form-control" id="price">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input name="quantity" type="number" class="form-control" id="quantity">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="VAT">VAT</label>
                                <input name="VAT" type="number" class="form-control" id="VAT">
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- <button id="add-btn" type="button">Add product</button> --}}




                <h4>Client</h4>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="lastName">last name</label>
                    <input name="lastName" type="text" class="form-control" id="lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="text" class="form-control" id="email">
                </div>
                <h5>Address</h5>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input name="street" type="text" class="form-control" id="street">
                </div>
                <div class="form-group">
                    <label for="buildingNumber">BuildingNumber</label>
                    <input name="buildingNumber" type="text" class="form-control" id="buildingNumber">
                </div>
                <div class="form-group">
                    <label for="zipCode">Zip Code</label>
                    <input name="zipCode" type="text" class="form-control" id="zipCode">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input name="city" type="text" class="form-control" id="city">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input name="country" type="text" class="form-control" id="country">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input name="phone" type="text" class="form-control" id="phone">
                </div>
                <button type="submit" class="btn btn-dark">Create Payroll</button>
            </form>
        </div>

    </div>
</div>
{{!--
<script src="/js/create-invoice-logic.js"></script> --}}