<div class="container text-center">
    <div class="row justify-content-center">

        <div class="col-6">
            <h1 style="font-weight: 100">Personal Services</h1>
            <p>We provide solutions for your day-to-day. Easy. Quick. Simple.</p>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row justify-content-around">

        <div class="col-6">
            <h1 style="font-weight: 100">Legal</h1>
            <hr>
            <p>We made agreements simple. Introduce your details and get yours instantly.
                Check out our legal services.
            </p>
            <a href="/personal/legal" class='btn btn-info'>Legal Services</a>
        </div>

    </div>
</div>