<div class="container">

    <div class="row">

        <div class="col-6">
            <h1 style="font-weight: 100">Personal Services</h1>
            <p>We provide solutions for your day-to-day. Easy. Quick. Simple.</p>
        </div>

        <div class="col-6">
            <h1 style="font-weight: 100">Legal</h1>
            <p>We made agreements simple. Introduce your details and get yours instantly.
                Check out our legal services.
            </p>
            <a href="/personal-services/legal">Legal Services</a>
        </div>


    </div>
</div>