body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.container {
  padding: 30px;
}

#myMap {
    height: 375px;
    width: 60%;
}

.footer {
  text-align: center;
  font-size: 1.9em;
  padding: 40px 100px 40px 100px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  font-style: normal;
  font-size: .8em;
  margin-bottom: 30px;
}