<div class="container">

    <div class="row justify-content-center">

        <div class="col-6">
            <h1 style="font-weight: 100">Business Services</h1>
            <hr>
            <h5>Get a glimpse of a new world.</h5>
            <p>
                Create invoices instantly. Get paid faster. Grow your business.
            </p>
            <a href="/services/business/invoices">Invoices Generator</a>
        </div>


    </div>
</div>