<div class="container">

    <div class="row justify-content-center">

        <div class="col-6">
            <h1 style="font-weight: 100">Legal</h1>
            <hr>
            <h3 style="font-weight: 100">Vehicle Transaction Agreement</h3>
            <p>We made vehicle transaction agreement simple. Introduce your details and get yours instantly.</p>
            <a href="/personal/legal/vehicle-agreement/">Get started</a>
        </div>

    </div>

</div>