<div class="container">

    <div class="row justify-content-center">

        <div class="col-6">
            <h1 style="font-weight: 100">Legal</h1>
            <hr>
            <p>We made vehicle transaction agreement simple. Introduce your details and get yours instantly.
                Get started.
            </p>
            <a href="/personal/legal/vehicle-agreement/">Are you the seller?</a>
            <a href="/personal/legal/vehicle-agreement/">Are you the buyer?</a>
        </div>


    </div>
</div>