<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Vehicle Selling Agreement</h3>
            <a href="create">Create a new agreement</a>
            <a href="list">See your agreements</a>
        </div>
    </div>
</div>