<div class="container">

    <div class="row justify-content-center">

        <div class="col-6">
            <h1 style="font-weight: 100">Human Resources</h1>
            <hr>
            <p>Don't sweat the details. We'll handle compliance for your team.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>New Hire Agreement</h3>
            <p>Employing anyone won't be a nightmare anymore. Super fast and painless.</p>
            <a href="/company/hr/employment-agreement">Get Started</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Payroll Generator</h3>
            <p>Employing anyone won't be a nightmare anymore. Super fast and painless.</p>
            <a href="/company/hr/payroll">Get Started</a>
        </div>
    </div>


</div>