<div class="container">

    <div class="row">

        <div class="col-12">
            <h1 style="font-weight: 100">Company Services</h1>
            <p>We provide solutions for your business. Easy. Quick. Simple.</p>
        </div>


        <div class="col-12">
            <h1 style="font-weight: 100">Human Resources</h1>
            <p>Dealing with the hiring, administration, and training of staff was never that easy.
                Do you want to know more?</p>
            <a href="/company-services/hr">Human Resources Services</a>
        </div>


        <div class="col-12">
            <h1 style="font-weight: 100">Business</h1>
            <p>Our business services are designed to help your company to grow. Find how.</p>
            <a href="/company-services/business">Business Services</a>
        </div>



    </div>
</div>