<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Vehicle Purchase Agreement</h3>
            <a href="/personal-services/legal/vehicle-agreement-buying/create">Create a new agreement</a>
            <a href="/personal-services/legal/vehicle-agreement-buying/list">See your agreements</a>
        </div>
    </div>
</div>