<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Payroll</h3>
            <a href="personal-services/hr/payroll/create">Create a new payroll</a>
            <a href="personal-services/hr/payroll/list">See your payrolls</a>
        </div>
    </div>
</div>