<div class="container">

    <div class="row justify-content-center">

        <div class="col-6">
            <h3>Payroll</h3>
            <a href="payroll/create">Create a new payroll</a>
            <a href="payroll/list">See your payrolls</a>
        </div>
    </div>
</div>