<div class="container">

    <h1>Payrolls' list</h1>
    <hr>

    {{#each payrolls}}
    <p>- Document Ref.({{id}})</p>

    <a href="/company/hr/payroll/preview/{{id}}">Preview</a>
    <a href="/company/hr/payroll/edit?payroll_id={{id}}" class="btn btn-dark">Delete</a>
    <a href="/company/hr/payroll/delete?payroll_id={{id}}" class="btn btn-dark">Edit</a>
    {{/each}}
    
</div>