<div class="container">

    <h1>Payrolls' list</h1>
    <hr>

    {{#each payrolls}}
    <p>- Document Ref.({{id}})</p>
    <a href="/company/hr/payroll/preview/{{id}}" class='btn btn-info btn-sm'>Preview</a>
    <a href="/company/hr/payroll/edit?payroll_id={{id}}" class="btn btn-info btn-sm">Delete</a>
    <a href="/company/hr/payroll/delete?payroll_id={{id}}" class="btn btn-info btn-sm">Edit</a>

    {{/each}}

</div>